__pycache__/
*.pyc
.env
.venv/
venv/
.DS_Store
.ipynb_checkpoints/
作者信息和基金.txt
data/raw/*
data/interim/*
data/processed/*
outputs/*
!data/raw/.gitkeep
!data/raw/g2f/
!data/raw/g2f/.gitkeep
!data/raw/fip1/
!data/raw/fip1/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/reports/
!outputs/reports/.gitkeep
!outputs/models/
!outputs/models/.gitkeep
!outputs/tables/
!outputs/tables/.gitkeep
!outputs/figures/
!outputs/figures/.gitkeep
